#OurStory {
  padding: 100px 0;

  .quote{
    color: $paragraphColor;
    margin: .5rem 0 3rem;
    strong{
      color: $black;
      font-weight: 700;
    }
  }
  .reserve-btn{
    font-family: $displayFont;
    display: inline-block;
    border: 1px solid $black;
    text-align: center;
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    padding:20px 40px;
    // min-width: 200px;
    transition: all .5s ease-in-out;
    &:hover{
      background:$red;
      color: white;
    }
  }
  .video-img{
    max-width: 400px;
    height: 550px;
    background: linear-gradient(135deg,rgba(0, 0, 0, .2) 0, #002d77 100%);
    background-image: url("http://diningoutwp.funjuczse.maxcdn-edge.com/miami/wp-content/uploads/sites/17/2018/05/WolfgangsSteakhouse_Porterhouse2.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
      margin: 0 auto;
  }
}
