#SpecialMenu {
  padding: 100px 0;

    h2, h5{
    text-align:center;
  }
  .box{
    background: #fff;
    padding: 20px;
    .box-img{
      // position: relative;
      //
      // width: 100%;
      // height: 200px;
      // background: linear-gradient(135deg,rgba(0, 0, 0, .2) 0, #002d77 100%);
      // background-image: linear-gradient(135deg,rgba(0,0,0,.2) 0, #000 100%), url("https://keeprecipes.com/sites/keeprecipes/files/6915_1466599358_0.jpg");
      //   -webkit-background-size: cover;
      //   -moz-background-size: cover;
      //   -o-background-size: cover;
      //   background-size: cover;
      //   background-position: center;
      //   margin-bottom: 75px;
    }
    .price-circle{
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      font-family: $displayFont;
      font-size: 2.7rem;
      background: #fff;
      height:100px;
      width:100px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 50%;
      transform: translate(-50%, 50%);
      box-shadow: 0 0 0 10px rgba(255,255,255,0.41);

    }
    .title{
      display: block;
    font-weight: 600;
    font-size: .9rem;
    text-align: center;
    }
    .details{
      font-weight: 300;
      font-size: .8rem;
      text-align: center;
      line-height:2;
      margin: 0;
    }
  }
  .boxes{
    padding-bottom: 50px;
  }
  a:link{
    color: #000;
    font-family: $displayFont;
    text-align: center;
    display: block;

  }
}
